<section class="card">
    <header>{{title}}</header>

  <h3>Posted by: {{user}}</h3>  
  <h4>On: {{format_time posting_date}}</h4>
    <div class="card-body">
      <p>{{text}}</p>
    </div>
</section>