<div class="newpost-card">
  <h2 class="page-title">Add Post</h2>
  <form class="form addpost-form">
    <div class="form-group">
        <label for="user-addpost">User:</label>
        <input class="form-input" type="text" id="user-addpost" />
    </div>
    <div class="input-group">
        <label for="newpost-text">Text:</label>
         <textarea class="form-control" aria-label="With textarea" id="newpost-text" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Post</button>
    </div>
  </form>
</div>

<script src="./js/newpost.js"></script>